<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="/jsandcss/jquery.js"></script>
    <link rel="stylesheet" href="/jsandcss/bootstrap.css"/>
    <link rel="stylesheet" href="/jsandcss/bootstrap-theme.css"/>
    <script src="/jsandcss/bootstrap.js"></script>
    <link href="/jsandcss/writedata.css" type="text/css" rel="stylesheet">
    <script src="/jsandcss/md5.min.js"></script>
    <script src="../mybatis/jsandcss/my_md5.js"></script>
</head>
<body>

<div class="login">
    <div class="text-box">


        <form action="">

            <div class="user-box">
                <h2>About Me</h2>
                <h2>ID: ${justside.username!''}</h2>
                <h2>roles: ${justside.userroles!''}</h2>
                <h2>sign:${justside.messages!''}</h2>
                <a href="/index" style="width: 1320px ;text-align: center">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Back</a>
            </div>

        </form>
    </div>
</div>
<script type="text/javascript" src="../dist/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../dist/js/wangEditor.js"></script>
</body>
</html>

</body>
</html>

