<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="/jsandcss/jquery.js"></script>
    <link rel="stylesheet" href="/jsandcss/bootstrap.css"/>
    <link rel="stylesheet" href="/jsandcss/bootstrap-theme.css"/>
    <script src="/jsandcss/bootstrap.js"></script>
    <link href="/jsandcss/writedata.css" type="text/css" rel="stylesheet">
    <script src="/jsandcss/md5.min.js"></script>
    <script src="../mybatis/jsandcss/my_md5.js"></script>
</head>
<body>
<link href="/jsandcss/login.css" type="text/css" rel="stylesheet">

<script src="/jsandcss/md5.min.js"></script>
<script src="../mybatis/jsandcss/my_md5.js"></script>
<link href="/jsandcss/login.css" type="text/css" rel="stylesheet">
<div class="login">
    <div class="login-box">
        <h2>Successful</h2>
        <form action="/yourselfmessages" method="post" role="form">
            <a href="/login " >
                <span></span>
                <span></span>
                <button style="width: 288px;background: transparent;border-style:none;">back</button>
            </a>
        </form>
    </div>




</div>
</div>
<script src="/jsandcss/md5.min.js"></script>
<script src="../mybatis/jsandcss/my_md5.js"></script>
</body>
</html>